.rawp {
  width: 100%;
  background-color: #f6f6f6;
}
.contents {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.contents_left > .ant-menu-submenu-title {
  font-size: 18px;
}
.contents_right {
  width: 100%;
  background-color: #f6f6f6;
  margin-left: 20px;
  border-radius: 5px;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: #e96262;
  border-color: #e96262;
}
