.boxPadding {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.my_goods {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.my_goods > div {
  margin-bottom: 0;
  margin-right: 20px;
}
.my_goods > div:last-child {
  margin-right: 0;
}

.menuss {
  background-color: #e6f7ff;
  border-right: 3px solid #1890ff;
}
.moneys {
  width: 40px;
  margin: 0 10px;
}
.sousuo {
  width: 145px;
}

/* 搜索shop */
.goodsList {
  background-color: #fff;
  border-radius: 5px;
}
.deletes {
  cursor: pointer;
}
.goodsBtn {
  font-size: 12px;
  padding: 0 8px;
}
.ant-table-tbody > tr > td {
  padding: 16px 10px;
}
.goodsList > lu {
  width: 100%;
  text-align: center;
}
