.login {
  width: 1000px;
  margin: 0 auto;
}
.loginPage > div {
  width: 100%;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 55px;
}
.login-header-left {
  display: flex;
  align-items: center;
}
.login-header-left > img {
  padding-right: 20px;
}
.login-header-left > span {
  font-size: 25px;
  color: #b9554d;
  font-weight: bold;
}
.login-header-right > span {
  font-size: 20px;
}
.login-header-right > a {
  font-size: 20px;
}

/* content */
.login-content {
  width: 1000px;
  height: 420px;
  padding: 40px 90px 65px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
}
.content-left {
  width: 67%;
  background: url("../../imgs/login-bg.png") no-repeat;
  background-position:8px -35px;
}
.content-left > img {
  width: 50%;
}
.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #e96262;
  border-color: #e96262;
}
.ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: #e96262;
  border-color: #e96262;
}
.login-form-button {
  background-color: #e96262;
  border-color: #e96262;
  width: 100%;
}
.login-form-button:hover {
  background-color: #eb4848;
  border-color: #eb4848;
}
/* content 右边 */
.content-right {
  width: 33%;
  margin-top: 10px;
}


/* 注册页面 */
.register-content {
  width: 800px;
  display: flex;
  margin: 0 auto;
}
.register-left {
  width: 50%;
}
.register-left > p {
  font-size: 16px;
}
.register-left > p:nth-child(3) {
  color: #fd5f30;
}
.register-left > img {
  width: 65%;
}
.register-right {
  width: 50%;
  padding: 15px 45px 0;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
}
