.release {
  display: block;
}
.releasetop {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.releasetop > div > i {
  color: #e96262;
  font-size: 22px;
}
.releasetop_span {
  color: #e96262;
  font-size: 18px;
  padding-right: 50px;
}

.releaseHeader {
  padding: 0 20px;
  border-radius: 5px;
}
.releaseSpan {
  font-size: 20px;
}

/* 单选框 */
.releaseLabel > label {
  font-size: 19px;
  padding: 0 30px;
}

.typestyle > div {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 35px;
}
.nones {
  box-shadow: none !important;
  margin: 0;
}
.goodsBtns {
  margin: 20px 20px;
  font-size: 18px;
  height: 50px;
}
.commodity_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
}
.commodity_div > p {
  display: flex;
  align-items: center;
}
.commodity_div > p > img {
  width: 30px;
  padding-right: 10px;
}
.commodity_div1 {
  border: none;
  padding: 20px 0;
}
.addGoodComponents_style {
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.modal_Width > div {
  width: 70% !important;
}
.key_scheme {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 15px;
}
.key_scheme > div {
  width: 20%;
  text-align: center;
}
.Keyword_3 {
  padding: 20px 17px;
}
.Keyword_3_header {
  display: flex;
  align-items: center;
}
.addKeyword {
  padding-left: 20px;
  cursor: pointer;
}
.addKeyword > span {
  margin-left: 5px;
}
.inputs {
  width: 35%;
}
.inputs_child {
  width: 70%;
  margin: 0 15px 0 10px;
}
.inputs_child1 {
  width: 75%;
}
.inputs_childs {
  margin: 0;
}
.zhekoucss {
  margin-bottom: 0;
  width: 10%;
  margin-right: 10px;
}
.inputsWB {
  width: 45%;
  margin-right: 25px;
}
.Keyword_3_child1 {
  padding: 0 20px 15px;
  background-color: #FAFBFD;
  margin: 20px 15px;
}
.Keyword_3_child1 > div {
  padding-top: 15px;
}
.keyword_input {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.keyword_input > input {
  margin: 0 15px;
}
.keyword_input > p {
  padding-left: 60px;
  color: #007eff;
}
.releaseBtnok {
  width: 100%;
  text-align: center;
}
.releaseBtnok > button {
  font-size: 23px;
  height: 50px;
  width: 110px;
  margin: 0 30px;
}
.keyword_handle > span {
  margin: 0 15px;
  cursor: pointer;
}
.keyword_handle > span:first-child {
  color: #007eff;
}
.goodsKu {
  display: flex;
  justify-content: space-around;
  background-color: #F8F8F8;
  padding: 10px 0;
  margin-bottom: 6px;
  text-align: center;
}
.goodsKu > span:nth-child(1) {
  width: 35%;
}.goodsKu > span:nth-child(2) {
  width: 15%;
  text-align: center;
}.goodsKu > span:nth-child(3) {
  width: 15%;
  text-align: center;
}.goodsKu > span:nth-child(4) {
  width: 25%;
  text-align: center;
}.goodsKu > span:nth-child(5) {
  width: 11%;
  text-align: center;
}
.goodsKu_child {
  background-color: #FCFCFC;
  margin-bottom: 8px;
}
.goodsKu_child > p {
  border-bottom: 1px solid #EFEFEF;
  padding-left: 20px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.goodsKu_child > p > img {
  padding-right: 10px;
  width: 30px;
}
.goodsKu_bottom {
  background-color: #FCFCFC;
  padding: 10px 12px;
  display: flex;
  align-items: center;
}
.goodsKu_bottom > img {
  width: 10%;
  padding-right: 15px;
}
.goodsKu_bottom > span:nth-child(2) {
  width: 25%;
}.goodsKu_bottom > span:nth-child(3) {
  width: 15%;
  text-align: center;
}.goodsKu_bottom > span:nth-child(4) {
  width: 15%;
  text-align: center;
}.goodsKu_bottom > span:nth-child(5) {
  width: 25%;
  text-align: center;
}.goodsKu_bottom > button {
  width: 10%;
  text-align: center;
}
.advanced {
  padding-left: 50px;
  background-color: #F1F6FA;
  border: 1px solid #EBF1F7;
  padding: 10px 15px;
  margin-top: 18px;
  margin-left: 50px;
}
.advanced_child {
  display: flex;
  align-items: center;
}
.advanced_child > span:first-child {
  margin-right: 10px;
}
.triangle_border_up{
    width:0;
    height:0;
    border-width:0 30px 30px;
    border-color:transparent transparent #333;/*透明 透明  灰*/
    position:relative;
}
.triangle_border_up span{
    display:block;
    width:0;
    height:0;
    border-width:0 20px 20px;
    border-style:solid;
    border-color:transparent transparent #F1F6FA;/*透明 透明  黄*/
    position:absolute;
    top:-19px;
    left:160px;
}
.paginations {
  text-align: center;
  margin-top: 35px;
}
