.first_header {
  margin-right: 0 !important;
  padding: 0 15px 25px 25px;
}
.first_header > label {
  font-size: 17px;
  padding-bottom: 10px;
}
.colors {
  color: #e96262;
}
.first_table {
  width: 100%;
  border: 1px solid #cfcfcf;
  text-align: center;
  display: block;
}
/* .first_table > tbody > tr {
  height: 45px;
} */
.first_table > tbody > tr > td:first-child {
  background-color: #F5F5FA;
}.first_table > tbody > tr > td:last-child {
  background-color: #fff;
}
/* .first_table > tbody > tr > td {
  border-bottom: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  line-height: 45px;
}
.first_table > tbody > tr > td:first-child {
  width: 20%;
} */
.first_table > tbody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.first_table > tbody > tr > td {
  display: block;
  border-bottom: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  line-height: 48px;
}
.first_table > tbody > tr {
  display: block;
  float: left;
  width: 20%;
}
.bgslash {
  background: url("../../../../imgs/slash.png") no-repeat center center;
}
/* .first_table > tbody > tr > td:last-child {
  border-bottom: none;
} */
.bgslash > p {
  line-height: 24px;
  padding: 0 8px;
}
.p_heigth {
  height: 48px;
}
.first_table > tbody > tr > td > p:first-child {
  text-align: right;
}
.first_table > tbody > tr > td > p:last-child {
  text-align: left;
}
.tdI {
  position: absolute;
  right: 3px;
  font-size: 20px;
}
.addplan {
  display: flex;
  /* align-items: center; */
}
.addplanWidth {
  width: 100%;
}
.inputWidth {
  width: 13%;
  margin: 0 10px;
}
.addplan > div:first-child {
  width: 22%;
}
.addplan > div:nth-child(2) {
  width: 80%;
}
.addplan > td > div {
  padding: 23% 0;
  font-size: 25px;
  cursor: pointer;
}
.subtotalBox {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  line-height: 48px;
  background-color: #F5F5FA;
  padding: 0 25px;
}

.serveInput {
  margin-bottom: 0;
}
.threeServe {
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 15px 8px;
}
.four_serveBox {
  border: 1px solid #cfcfcf;
  margin: 15px 0 0 0;
}
.four_serveBox_child {
  display: flex;
  border-bottom: 1px solid #cfcfcf;
}
.four_serveBox_child:last-child {
  border-bottom: none;
}
.four_serveBox_child > div:first-child {
  border-right: 1px solid #cfcfcf;
  width: 6%;
  background-color: #F5F5FA;
  font-size: 16px;
  text-align: center;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.labels {
  margin: 7px 0;
  width: 100%;
}
.dashed {
  border-bottom: 1px dashed #cfcfcf;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.dashed:last-child {
  border-bottom: none;
}
.childBoxs {
  border-bottom: 1px solid #cfcfcf;
  padding: 15px;
  display: flex;
  align-items: center;
}
.childBoxs:last-child {
  border-bottom: none;
}
.good_reputationBox {
  padding-left: 20px;
  margin: 10px 0;
}
.good_reputation {
  padding: 10px;
  background-color: #FFF8F8;
  border: 1px solid #D70000;
  border-radius: 6px;
}
.graphic {
  border: 1px solid #cfcfcf;
  margin-left: 25px;
  margin-bottom: 15px;
}
.graphic > div:first-child {
  background-color: #f5f5fa;
  padding: 13px;
  border-bottom: 1px solid #cfcfcf;
}
.graphic > div:nth-child(2) {
  padding: 15px;
}
.graphic_child {
  margin-bottom: 0;
  width: 13%;
  margin-right: 10px;
}
.serve_footer {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #cfcfcf;
}
.serve_footer:last-child {
  border-bottom: none;
}
.serve_footer > div:first-child {
  width: 10%;
  border-right: 1px solid #cfcfcf;
}
.serve_footer > div:nth-child(2) {
  width: 40%;
  border-right: 1px solid #cfcfcf;
}
.serve_footer > div:nth-child(3) {
  width: 15%;
  border-right: 1px solid #cfcfcf;
}
.serve_footer > div:last-child {
  width: 35%;
}
